<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czl.shanshan.order.dao.IOrderDao">

	  <resultMap id="orderEntityMap" type="com.czl.shanshan.order.entity.OrderEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="OrderNum" jdbcType="VARCHAR" property="ordernum" />
    <result column="provinceId" jdbcType="INTEGER" property="provinceid" />
    <result column="cityId" jdbcType="INTEGER" property="cityid" />
    <result column="districtId" jdbcType="INTEGER" property="districtid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="linkMan" jdbcType="VARCHAR" property="linkman" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="dateAdd" jdbcType="TIMESTAMP" property="dateadd" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
			
  <insert id="createOrder" parameterType="com.czl.shanshan.order.entity.OrderEntity">
    insert into t_shan_order (id, OrderNum, provinceId, 
      cityId, districtId, address, 
      linkMan, mobile, code, 
      token, dateAdd, Remark
      )
    values (#{id,jdbcType=INTEGER}, #{ordernum,jdbcType=VARCHAR}, #{provinceid,jdbcType=INTEGER}, 
      #{cityid,jdbcType=INTEGER}, #{districtid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{dateadd,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      );
      
      
  </insert>
  
</mapper>